---
//Layouts
import BaseLayoutExtented from "../BaseLayouts/BaseLayoutExtented.astro";

const {frontmatter} = Astro.props;
---

<BaseLayoutExtented title={frontmatter.title}>
    <div class="a-vbox a-vbox-big movie-box">
        <div class="image">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt}>
        </div>
        <div class="info">
            <p> {frontmatter.title} : اسم فیلم  </p>
            <p> {frontmatter.release_date} : تاریخ اکران </p>
            <p> {frontmatter.type} : سبک </p>
            {frontmatter.tages}
            <p> {frontmatter.tags} : ژانر ها </p>   
            <slot/>
        </div>

        <!-- <img src={img.url} alt={img.alt}>
        <p class="title">{title}</p>
        <p>تاریخ اکران : {release_date}</p>
        <p>سبک : {type}</p>
        <p>نمره : {rate}</p> -->
    </div>
</BaseLayoutExtented>


<style lang="scss">
    .movie-box{
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        padding: 0 2rem;
        @media (min-width: 640px) {
            flex-direction: row-reverse;
        }
        @media (min-width: 768px) {
            padding: 0;
        }
        text-align: right;
        .image{
            @media (max-width: 640px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .info{
            text-align: center;
            @media (min-width: 640px) {
                text-align: right;
            }
            padding-right: 1rem;
            padding-top: 1rem;
        }
    }
    img{
        border-radius: 2rem;
        padding-bottom: 0;
        width: 70vmin;
        height: 70vmin;
        @media (min-width:460px) {
            width: 50vmin;
            height: 50vmin;
        }
        @media (min-width: 640px) {
            width: 45vmin;
            height: 45vmin;
        }
        @media (min-width: 768px) {
            width: 360px;
            height: 360px;
        }
        @media (min-width: 1024px) {
            width: 360px;
            height: 360px;
        }
        object-fit: none;
        object-position: 50% 50%;
    }
</style>
