---
const { title, url , img ,type , release_date , rate} = Astro.props;
---
<div class="movie-card">
    <a href={url} class="">
        <img src={img.url} alt={img.alt}>
        <p class="title">{title}</p>
        <p>تاریخ اکران : {release_date}</p>
        <p>سبک : {type}</p>
        <p>نمره : {rate}</p>
    </a>
</div>

<style lang="scss">
    .movie-card{
        border-right: 2px dashed #231F20;
        border-left: 2px dashed #231F20;
        border-radius: 2rem 2rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem 0;
        padding-bottom: 1rem;
    }
    img{
        border-radius: 2rem;
        width: 70vmin;
        height: 70vmin;
        @media (min-width:480px) {
            width: 50vmin;
            height: 50vmin;
        }
        @media (min-width: 640px) {
            width: 45vmin;
            height: 45vmin;
        }
        @media (min-width: 768px) {
            width: 220px;
            height: 220px;
        }
        @media (min-width: 1024px) {
            width: 220px;
            height: 220px;
        }

        object-fit: none;
        object-position: 50% 50%;
    }
    a{
        text-decoration: none;
    }
    .title{
        color: #231F20;
    }
</style>
